[Unit]
Description=Reset Apple BCE Module (Fix Wi-Fi/BT/Touchbar on Wake)
Before=sleep.target
StopWhenUnneeded=yes

[Service]
User=root
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/local/sbin/t2_drv unload
ExecStop=/usr/local/sbin/t2_drv load

[Install]
WantedBy=sleep.target