[Unit]
Description=Reset Apple BCE Module (Fix Wi-Fi/BT/Touchbar on Wake)
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/python3 /usr/local/sbin/suspendfix unload ## SERVICES MUST START WITH PYTHON3 PREFIX
ExecStop=/usr/bin/python3 /usr/local/sbin/suspendfix load ## SERVICES MUST START WITH PYTHON3 PREFIX

[Install]
WantedBy=sleep.target