[Unit]
Description=Idle Manager (Swayidle Wrapper)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/python3 %h/Scripts/idle.py
Restart=on-failure
RestartSec=5
Slice=background.slice

[Install]
WantedBy=graphical-session.target
