[Unit]
Description=Idle Manager (Swayidle Wrapper)
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/sbin/idle-manager
Restart=always
RestartSec=5
Slice=background.slice

[Install]
WantedBy=multi-user.target
